
<!-- your html code here -->
<div class="container pb-2 my-4 mb-5 container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>¿Sigues sin respuesta?💔</h2>
            <p class="p-5 ps-0 fw-semibold">¿Tus mensajes tienen menos reacción que un meme de 2010?</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
            <img width="200px" height="200px" class="first-heading-pers border-thick-pers object-fit-cover rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRF0QpsuJ3_kgHVOF_8SOg3p_Bl5vVuloPaqs_Dc6AP4NU4lhtDbsWMxpqj2IU7zahf8Os&usqp=CAU" alt="">
        </div>
    </div>
</div>

