<div>
<nav class="navbar navbar-expand-lg bg-dark p-1">
  <div class="container-fluid p-0">
    <a class="navbar-brand text-secondary ms-4" href="#">Poeta moderno</a>
    <button aria-controls="navbarNavDropdown" data-bs-target="#navbarNavDropdown" class="navbar-toggler me-4" type="button" data-bs-toggle="collapse">
      <i class="bi bi-list icono-pers" style="font-size: 1.5rem; color: #6c757d;"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-secondary" aria-current="page" href="#">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary text-secondary" href="#">Portfolio</a>
        </li>
        <li class="nav-item text-secondary">
          <a class="nav-link text-secondary" href="#">Sobre Nosotros</a>
        </li>
        <li class="nav-item text-secondary">
          <a class="nav-link text-secondary" href="#">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>