<!-- your html code here -->
<div class="container my-5">
  <!-- Encabezado -->
  <h1 class="text">Portfolio De Servicios</h1>
  <p class="text my-5 fw-semibold ">
    ¡Con nuestro amplio portfolio de servicios personalizados que abarca las necesidades de todos los públicos y de todas las edades, tu éxito está garantizado!<br>¡No importa la edad, es solo un número!
  </p>

  <!-- Fila de proyectos -->
  <div class="row text-center">
    <div class="col-md-4">
      <img 
        src="https://estaticosgn-cdn.deia.eus/clip/1fe35403-c474-4f72-adad-16772d7563ea_16-9-aspect-ratio_default_0.jpg"
        alt="Imagen de ejemplo 1"
        class="img-fluid mb-3 object-fit-cover border"
        style="width: 400px; height: 200px;">
      <h3 class="text-primary text-start">Generador de poesía para niños</h3>
      <p class="text-start fw-semibold">
        ¡La ternura al rescate, poemas tan dulces que hasta el osito de peluche se pone celoso!
      </p>
    </div>

    <div class="col-md-4">
      <img 
        src="https://ih1.redbubble.net/image.1913819787.6898/raf,360x360,075,t,fafafa:ca443f4786.jpg"
        alt="Imagen de ejemplo 2"
        class="img-fluid mb-3 object-fit-cover border"
        style="width: 400px; height: 200px;">
      <h3 class="text-primary text-start">Generador de poesía para adultos</h3>
      <p class="text-start fw-semibold">
        ¡Versos cálidos para corazones fríos, conquista sin esfuerzo, que la rima haga el trabajo por ti!
      </p>
    </div>

    <div class="col-md-4">
      <img 
        src="https://ih1.redbubble.net/image.660487750.3345/fposter,small,wall_texture,square_product,600x600.u11.jpg"
        alt="Imagen de ejemplo 3"
        class="img-fluid mb-3 object-fit-cover border"
        style="width: 400px; height: 200px;">
      <h3 class="text-primary text-start">Generador de poesía para ancianos</h3>
      <p class="text-start fw-semibold">
        ¡Poemas con más flow que tu pensión, enamora sin gastar en flores ni pastillas azules!
      </p>
    </div>
  </div>
</div>
