<!-- your html code here -->
<div class="container">
  <!-- Encabezado -->
  <h1 class="text">Portfolio</h1>
  <p class="text">
    Donec ullamcorper nulla non metus auctor fringilla. 
    Vestibulum id ligula porta felis euismod semper. 
    Praesent commodo cursus magna, vel scelerisque nisl consectetur. 
    Fusce dapibus, tellus ac cursus commodo.
  </p>

  <!-- Fila de proyectos -->
  <div class="row text-center">
    <div class="col-md-4">
      <img 
        src="https://estaticosgn-cdn.deia.eus/clip/1fe35403-c474-4f72-adad-16772d7563ea_16-9-aspect-ratio_default_0.jpg"
        alt="Imagen de ejemplo 1"
        class="img-fluid mb-3 object-fit-cover"
        style="width: 400px; height: 200px;">
      <h3 class="text-primary text-start">Generador de poesía para niños</h3>
      <p class="text-start">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nam viverra euismod odio, gravida pellentesque urna varius vitae.
      </p>
    </div>

    <div class="col-md-4">
      <img 
        src="https://ih1.redbubble.net/image.1913819787.6898/raf,360x360,075,t,fafafa:ca443f4786.jpg"
        alt="Imagen de ejemplo 2"
        class="img-fluid mb-3 object-fit-cover"
        style="width: 400px; height: 200px;">
      <h3 class="text-primary text-start">Generador de poesía para adultos</h3>
      <p class="text-start">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nam viverra euismod odio, gravida pellentesque urna varius vitae.
      </p>
    </div>

    <div class="col-md-4">
      <img 
        src="https://ih1.redbubble.net/image.660487750.3345/fposter,small,wall_texture,square_product,600x600.u11.jpg"
        alt="Imagen de ejemplo 3"
        class="img-fluid mb-3 object-fit-cover"
        style="width: 400px; height: 200px;">
      <h3 class="text-primary text-start">Generador de poesía para ancianos</h3>
      <p class="text-start">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nam viverra euismod odio, gravida pellentesque urna varius vitae.
      </p>
    </div>
  </div>
</div>
