<!-- your html code here -->
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-5">
            <div class="ratio ratio-1x1">
                <img src="https://www.xtrafondos.com/wallpapers/montanas-con-nieve-en-el-bosque-3934.jpg"
                    class="rounded-circle w-100 object-fit-cover" alt="imagen de una montaña con nieve en el bosque">
            </div>
        </div>
        <div class="col-md-9 col-sm-7">
            <h2>Hola. Buenas tardes. </h2>
            <p>Ebenezer McBurney Byers (April 12, 1880 – March 31, 1932) was an American socialite, sportsman, and
                industrialist. He won the 1906 U.S. Amateur in golf. He died from jawbone cancer after consuming 1400
                bottles of Radithor, a patent medicine made from radium salts dissolved in water. </p>
        </div>
    </div>