<!-- your html code here -->
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-5">
            <div class="ratio ratio-1x1">
                <img src="https://www.xtrafondos.com/wallpapers/montanas-con-nieve-en-el-bosque-3934.jpg"
                    class="rounded-circle w-100 object-fit-cover" alt="imagen de una montaña con nieve en el bosque">
            </div>
        </div>
        <div class="col-md-9 col-sm-7">
            <h2>The second heading is pretty cool too</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repellendus vel doloribus deleniti, sed aspernatur perspiciatis ipsum distinctio obcaecati? </p>
        </div>
    </div>