<!-- your html code here -->
<div class="row justify-content-center">
    <div class="col-md-2">
        <img height="200px" width="200px" src="https://www.xtrafondos.com/wallpapers/montanas-con-nieve-en-el-bosque-3934.jpg" class="rounded-circle" alt="">
    </div> 
    <div class="col-6">
        <h2>Hola. Buenas tardes. </h2>
        <p>Ebenezer McBurney Byers (April 12, 1880 – March 31, 1932) was an American socialite, sportsman, and industrialist. He won the 1906 U.S. Amateur in golf. He died from jawbone cancer after consuming 1400 bottles of Radithor, a patent medicine made from radium salts dissolved in water. </p>
</div>