<!-- your html code here -->
<!--<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-5">
            <div class="ratio ratio-1x1">
                <img src="https://www.xtrafondos.com/wallpapers/montanas-con-nieve-en-el-bosque-3934.jpg"
                    class="rounded-circle w-100 object-fit-cover" alt="imagen de una montaña con nieve en el bosque">
            </div>
        </div>
        <div class="col-md-9 col-sm-7">
            <h2>Segundo título de la página</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nam vel error. At ut et reiciendis nobis culpa, repellendus autem, consequuntur cum alias, atque aliquam.</p>
        </div>
    </div> -->


<div class="container pb-2 my-4 mt-5 mb-5 container">
    <div class="row justify-content-center">
        <div class="col-md-2 me-5">
            <img width="200px" height="200px" class="rounded-circle" src="https://www.xtrafondos.com/wallpapers/montanas-con-nieve-en-el-bosque-3934.jpg" alt="">
        </div>
        <div class="col-6">
            <h2>Segundo título de la página</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quibusdam sed debitis nihil error rem modi
                ipsa, culpa nemo officiis exercitationem consectetur explicabo molestiae at.</p>
        </div>
    </div>
</div>

