 <div calss="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="row">
            <div class="col-md-2">
                <img width="200px" height="200px" class="rounded-circle" src="https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YnJpbGxpYW50fGVufDB8fDB8fHw%3D" alt="">
            <div class="col-6">
                <h2>This first heading will catch your eye</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quibusdam sed debitis nihil error rem modi
                    ipsa, culpa nemo officiis exercitationem consectetur explicabo molestiae at.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-2">
                <img height="200px" width="200px" src="https://www.xtrafondos.com/wallpapers/montanas-con-nieve-en-el-bosque-3934.jpg" class="rounded-circle" alt="">
            </div> 
            <div class="col-6">
                <h2>Hola. Buenas tardes. </h2>
                <p>Ebenezer McBurney Byers (April 12, 1880 – March 31, 1932) was an American socialite, sportsman, and industrialist. He won the 1906 U.S. Amateur in golf. He died from jawbone cancer after consuming 1400 bottles of Radithor, a patent medicine made from radium salts dissolved in water. </p>
            </div>
            </div>
        </div>
    </div>
</div>