<body>
  <section 
    class="mb-4 px-5 d-flex justify-content-center align-items-start text-center text-white"
    style="background: url('https://picsum.photos/1920/1080') no-repeat center center/cover; height: 75vh; padding-top:8rem ;">
    
    <div class="w-100 mx-3 bg-dark bg-opacity-50 p-5 rounded">
      <div>
      <h1 class="display-1 fw-bold">Un Poeta Moderno</h1>
      <p class="fs-4">Poesias que te inspiran</p>
      <a href="#servicios" class="btn btn-primary mt-3">Conoce más</a>
    </div>
    </div>
  </section>
</body>