<body>
  <section 
    class="mb-4 px-5 d-flex justify-content-center align-items-start text-center text-white"
    style="background: url('https://media.istockphoto.com/id/1406466259/video/4k-caucasian-man-and-woman-flirting-each-other-at-luxury-bar.jpg?s=640x640&k=20&c=fGe7uY9SW0eOg9odiqNeBuL96PXtTOkj8_2TdjgaleQ=') no-repeat center center/cover; height: 75vh; padding-top:8rem ;">
    
    <div class="w-100 mx-3 bg-dark bg-opacity-50 p-5 rounded">
      <div>
      <h1 class="display-1 fw-bold">Un Poeta Moderno</h1>
      <p class="fs-4">Poesias que te inspiran</p>
      <a href="#servicios" class="btn btn-primary mt-3">¡Dame poesía!</a>
    </div>
    </div>
  </section>
</body>